package ${package}.modules.${moduleName}.service;

import ${package}.common.data.service.CrudService
import ${package}.modules.${moduleName}.bo.${className}Bo;
import ${package}.modules.${moduleName}.dto.${className}DTO;
import ${package}.modules.${moduleName}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service extends CrudService<${className}Bo, ${className}Entity, ${className}DTO> {

}
