server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://AUTH-SERVICE
#              uri: http://localhost:80
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 10
#                    redis-rate-limiter.burstCapacity: 20
                - name: DedupeResponseHeader
                  args:
                    name: Access-Control-Allow-Origin Access-Control-Allow-Credentials
                    strategy: RETAIN_FIRST
            - id: service-demo
              uri: lb://SERVER-DEMO
              # uri: http://localhost:80
              predicates:
                - Path=/api/service/**
              filters:
                - StripPrefix=1

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: trace
    org.springframework.web.cors: DEBUG
    com.netflix.eureka: INFO